[submodule "boost-include"]
	path = boost-include
	url = git@code.byted.org:storage/boost-include.git
[submodule "gtests/googletest"]
	path = gtests/googletest
	url = ssh://git@code.byted.org/inf/googletest
